<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ @package   onthos
  ~ @copyright Copyright (c) 2024 Nicholas K. Dionysopoulos / Akeeba Ltd
  ~ @license   GNU General Public License version 3, or later
  -->
<config>
    <inlinehelp button="show"/>

    <fieldset
            name="general"
            label="COM_ONTHOS_CONFIG_OPTIONS_GENERAL_LABEL"
    >
        <field
                name="show_warning"
                type="radio"
                layout="joomla.form.field.radio.switcher"
                label="COM_ONTHOS_CONFIG_SHOW_WARNING_LABEL"
                description="COM_ONTHOS_CONFIG_SHOW_WARNING_DESC"
                default="1"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
    </fieldset>

    <fieldset
            name="permissions"
            label="JCONFIG_PERMISSIONS_LABEL"
            description="JCONFIG_PERMISSIONS_DESC"
    >

        <field
                name="rules"
                type="rules"
                label="JCONFIG_PERMISSIONS_LABEL"
                class="inputbox"
                filter="rules"
                component="com_onthos"
                section="component"/>
    </fieldset>
</config>
